body {
    display:grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:skyblue;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
